@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>
<table style="width:100%" class="tabel tabel-striped tabel-bordered">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td style="width:50%">@obj.Name</td>
                <td style="width:30%">@obj.DisplayOrder</td>
            </tr>    
        }
    </tbody>
</table>


