@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Category Name</th>
            <th scope="col">Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr class="table-active">
                <td style="width:50%">@obj.Name</td>
                <td style="width:30%">@obj.DisplayOrder</td>
            </tr>    
        }
    </tbody>
</table>


